.feature {
  padding-block: 40px;

}
.section-title{
  margin-block-end: 10px;

}
.section-title .span{
  font-size: 32px;
  font-weight: 700;
  color: transparent;
  background: var(--gradient-1);
  background-clip: text;
}
.feature-text{
  margin-block-end: 25px;
  font-size: 16px;
  text-align: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
}
.feature-list .card{
  background: var(--gradient-4);
}
.feature-card{
  padding: 20px;
  border-radius: var(--radius-16);
    box-shadow: var(--shadow-1);
    transition: var(--transition-1);
}

.feature-card .card-banner{
  border-radius: var(--radius-16);
}

.card-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.card-content .span{
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: transparent;
    background-clip: text;
    font-size: 14px;
}
.fh3{
  margin-block: 10px;
  min-height: var(--height150);
}
.card-title{
  font-size: var(--fontSize-2);/*2.4rem*/
  font-weight:700;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: transparent;
  background-clip: text;

}
.feature-card .card-wrapper:last-child {
  font-size: 1.6rem;
  margin-block-end: 0;
}
.feature .profile-card{
  display: flex;
  gap: 8px;
}
.profile-banner{
  border-radius: 50%;
  box-shadow: var(--shadow-1);
}
.feature .profile-card .card-title{
  font-weight: 700;
  font-size: 17px;
}
.feature .profile-card .card-subtitle{
  font-size: 14px;
}
/* button */
.button-feature{
  text-align: center;
  margin-block: 15px;
}

.btn-secondary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.btn-secondary.learn-more {
  width: 12rem;
  height: auto;
}

.btn-secondary.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3.4rem;
  height: 3.4rem;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  border-radius: 1.625rem;
}

.btn-secondary.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.btn-secondary.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btn-secondary.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.btn-secondary.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.9rem 0;
  margin: 0 0 0 1.85rem;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  color: transparent;
  background-clip: text;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  font-size: 15px;
}

.btn-secondary:hover .circle {
  width: 100%;
}

.btn-secondary:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.btn-secondary:hover .button-text {
  color: #fff;
}
.btn-secondary:active .circle {
  background: linear-gradient(to left, #009fff, #ec2f4b);
}


/*
.feature-bg {
  display: none;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-list .card {
  background: var(--gradient-4);
}
.feature-card {
  padding: 20px;
  border-radius: var(--radius-16);
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  min-height: min-content;
}
.feature-card:is(:hover, :focus-within) {
  transform: translateY(-5px);
  box-shadow: inset 1px 7px 58px -27px rgba(143, 143, 143, 1);
  background: linear-gradient(to left, #009fff, #ec2f4b);
}

.feature-card .card-banner {
  border-radius: var(--radius-16);
}

.card-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.fh3 {
  margin-block: 10px;
  min-height: var(--height150);
}
.card-title {
  font-size: var(--fontSize-2);
  font-family: "Noto Sans", sans-serif;
  font-weight: var(--weight-bold);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: transparent;
  background-clip: text;
}
.feature-text {
  font-size: var(--fontSize-5);
  margin-block: 25px;
  text-align: center;
}
.card-content .span {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: transparent;
  background-clip: text;
  font-size: var(--fontSize-14);
}
.feature .profile-card {
  display: flex;
  gap: 8px;
}
.profile-banner {
  border-radius: 50%;
  box-shadow: var(--shadow-1);
}
.feature .profile-card:is(.card-title, .card-subtitle) {
  color: var(--dark);
}

.feature .profile-card .card-title {
  font-weight: var(--weight-bold);
  font-size: 17px;
}

.feature .profile-card .card-subtitle {
  font-size: 14px;
}

.feature-card .card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.feature-list li:nth-child(-n + 2) {
  width: calc(50% - 15px);
}

.feature-list li:nth-child(n + 3) {
  width: calc(33.33% - 20px);
}
.feature-list li:nth-child(n + 3) .headline-3 {
  --fontSize-2: 1.5rem;
  --height150: 95px;
}
.feature-list li:nth-child(n + 3) .span {
  --fontSize-14: 13px;
}
.feature .button-feature {
  text-align: center;
  margin-block: 35px;
}
/* BTN LEARN MORE*/
/*
.btn-secondary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.btn-secondary.learn-more {
  width: 12rem;
  height: auto;
}

.btn-secondary.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3.4rem;
  height: 3.4rem;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  border-radius: 1.625rem;
}

.btn-secondary.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.btn-secondary.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btn-secondary.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.btn-secondary.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  background: linear-gradient(to right, #009fff, #ec2f4b);
  color: transparent;
  background-clip: text;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}

.btn-secondary:hover .circle {
  width: 100%;
}

.btn-secondary:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.btn-secondary:hover .button-text {
  color: #fff;
}
.btn-secondary:active .circle {
  background: linear-gradient(to left, #009fff, #ec2f4b);
}
